<div class="single_track">

  <div class="progressBar" style="width:{{this.racer.getPercent()}}%">
  </div>

  <div class="identifier">
    <div [ngClass]="{'label': true, 'inactive': !this.racer.isActive()}">
      [{{ this.addTrailingZeros(this.getRacerPercent(), 2) }}%] {{ (this.name ? this.name : this.racer.name) }}
    </div>
  </div>

  <div class="jockey_space" style="left:{{this.racer.getPercent()}}%">

    <img *ngIf="this.racer.isActive()" src="assets/img/jockey.gif"  class="jockey" />
    <img *ngIf="!this.racer.isActive()" src="assets/img/rip.png"  class="jockey animate__animated animate__flash  animate__repeat-2" />
  </div>



</div>
