.generic_modal{
  .modal__header.with_logo{
    @include flex();
    @include flex_justify(flex-start);
    @include flex_align(baseline);
    img{
      margin-right: 12px;
      width: 86px;
    }
  }
  .modal__body{
    p{
      font-size:21px;
    }

    p.extraNotes{
      font-size: 14px;
      font-style: italic;
    }
  }
  .modal__footer{
    @include flex();
    @include flex_align(center);
    @include flex_justify(space-between);
  }
}
