$minAcceptableWidth: 1000px;
$minAcceptableHeight: 599px;

.screen_restriction{
  display: none;

  /**
  It shows up for small screens
   */
  @media (max-width: #{$minAcceptableWidth}){
    @include flex();
    @include flex_absolute_center();
  }

  @media (max-height: #{$minAcceptableHeight}){
    @include flex();
    @include flex_absolute_center();
  }


  width: 100vw;
  height: 100vh;
  background-color: #e2e2e2;
  position: fixed;
  top:0;
  left:0;


  .message{
    text-align: center;
    width: 95%;
    @include break_desktop{
      width: 40%;
    }
    @include break_tablet{
      width: 55%;
    }
    @include break_mobile{
      width: 80%;
    }
    img{
      width: 40%;
      @include break_desktop{
        width: 40%;
      }
      @include break_tablet{
        width: 55%;
      }
      @include break_mobile{
        width: 80%;
      }
    }
  }
}
