$breakpoint-tablet: 768px;
$breakpoint-phone: 500px;

$loader--width: 250px;
$loader-dot--size: 20px;


$backgroundColor: #F2F2F2;
$mainBlue: #00BCEB;
$secondaryBlue: #0D274D;


$screenSize: 1250px;

$generalFontSize: calc(14px + 0.5vmin);

$mainSpaceW: 95%;
$mainSpaceMaxW: 1250px;
$trackSize: 98%;
$trackSpaceSize: 90%;
