/**
  MAIN STYLES FILE
  "Grab this sword, and go to the valley and show it to the ancients. They will give you some words,
  the last words you will ever need to hear"
 */
/**
Mixins
 */
/**
Using bootstrap breakpoints
 */
/**
Using bootstrap breakpoints
 */
@font-face {
  font-family: "CiscoSansTT Regular";
  font-style: normal;
  font-weight: 300 !important;
  src: url("fonts/CiscoSansTT/CiscoSansTTRegular.woff2") format("woff2"), url("fonts/CiscoSansTT/CiscoSansTTRegular.woff") format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: "CiscoSansTT Oblique";
  font-style: oblique;
  font-weight: 400 !important;
  src: url("fonts/CiscoSansTT/CiscoSansTTRegularOblique.woff2") format("woff2"), url("fonts/CiscoSansTT/CiscoSansTTRegularOblique.woff") format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: "CiscoSansTT ExtraLight";
  font-style: normal;
  font-weight: 400 !important;
  src: url("fonts/CiscoSansTT/CiscoSansTTExtraLight.woff2") format("woff2"), url("fonts/CiscoSansTT/CiscoSansTTExtraLight.woff") format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: "CiscoSansTT ExtraLight Oblique";
  font-style: oblique;
  font-weight: 400 !important;
  src: url("fonts/CiscoSansTT/CiscoSansTTExtraLightOblique.woff2") format("woff2"), url("fonts/CiscoSansTT/CiscoSansTTExtraLightOblique.woff") format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: "CiscoSansTT Light";
  font-style: normal;
  font-weight: 400 !important;
  src: url("fonts/CiscoSansTT/CiscoSansTTLight.woff2") format("woff2"), url("fonts/CiscoSansTT/CiscoSansTTLight.woff") format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: "CiscoSansTT Light Oblique";
  font-style: oblique;
  font-weight: 400 !important;
  src: url("fonts/CiscoSansTT/CiscoSansTTLightOblique.woff2") format("woff2"), url("fonts/CiscoSansTT/CiscoSansTTLightOblique.woff") format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: "CiscoSansTT Heavy";
  font-style: normal;
  font-weight: 400 !important;
  src: url("fonts/CiscoSansTT/CiscoSansTTHeavy.woff2") format("woff2"), url("fonts/CiscoSansTT/CiscoSansTTHeavy.woff") format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: "CiscoSansTT Heavy Oblique";
  font-style: oblique;
  font-weight: 400 !important;
  src: url("fonts/CiscoSansTT/CiscoSansTTHeavyOblique.woff2") format("woff2"), url("fonts/CiscoSansTT/CiscoSansTTHeavyOblique.woff") format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: "CiscoSansTT Bold";
  font-style: normal;
  font-weight: 400 !important;
  src: url("fonts/CiscoSansTT/CiscoSansTTBold.woff2") format("woff2"), url("fonts/CiscoSansTT/CiscoSansTTBold.woff") format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: "CiscoSansTT Bold Oblique";
  font-style: oblique;
  font-weight: 400 !important;
  src: url("fonts/CiscoSansTT/CiscoSansTTBoldOblique.woff2") format("woff2"), url("fonts/CiscoSansTT/CiscoSansTTBoldOblique.woff") format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: "CiscoSansTT Medium";
  font-style: normal;
  font-weight: 400 !important;
  src: url("fonts/CiscoSansTT/CiscoSansTTMedium.woff2") format("woff2"), url("fonts/CiscoSansTT/CiscoSansTTMedium.woff") format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: "CiscoSansTT Medium Oblique";
  font-style: oblique;
  font-weight: 400 !important;
  src: url("fonts/CiscoSansTT/CiscoSansTTMediumOblique.woff2") format("woff2"), url("fonts/CiscoSansTT/CiscoSansTTMediumOblique.woff") format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/**
COLORS
The colors information has been added from the page number 5 of the PDF document in this project
 */
/**
New colors
We should start using this new colors from now on.
 */
/**
Colors for the CTA animation
 */
/****
  END OF COLORS
 */
/**
MRM colors
 */
.single_track {
  width: 100%;
  min-height: 25px;
  background-color: white;
}
.single_track .progressBar {
  background-color: green;
}

/*# sourceMappingURL=style.css.map */
