.main_form {
  .step1 {


    .subcontainer {
      @include flex();
    }

    margin-top: 10px;
    position: relative;
    min-height: 10vh;
    @include flex();
    flex-wrap: wrap;
    @include flex_justify(center);

    &.leftAligned {
      @include flex_justify(flex-start);
    }

    .line_break {
      flex-basis: 100%;
      height: 0;
    }


    .comingSoonItems {
      position: relative;
      @include flex();

      .comingSoonBanner {
        position: absolute;
        height: 36px;
        @include flex();
        @include flex_absolute_center();
        font-size: 14px;
        background: #BDBDBD;
        color: #414344;
        top: -40px;
        width: calc(100% - 12px);
      }
    }

    .item_icon {
      //background-color: red!important;
      cursor: pointer;
      width: 120px;
      text-align: center;
      //background-color:black;
      .text {
        text-align: center;
        font-size: 0.9em;
        //word-break: break-all;
        //word-spacing: inherit;
        //white-space: nowrap;
        //font-weight: bold;
        margin-top: 7px;
        //display:none;
      }

      .item_icon_circle {

        background-color: $mrmBlue;
        position: relative;
        @include border_rad(50%);
        width: 90%;
        padding-top: 90%;
        margin-left: auto;
        margin-right: auto;
        position: relative;

        img {
          width: 50%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateX(-50%) translateY(-50%);
        }

      }

    }


    .item_icon.squared_icon {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      border: 2px solid $mrmBaseColor;
      width: 125px;
      height: 160px;
      margin-right: 5px;
      margin-bottom: 5px;

      &.extra_right {
        margin-right: 30px;
      }

      &.extra_left {
        margin-right: 30px;
      }

      .item_icon_squared {
        img {
          //width: 60px !important;
          width: auto !important;
        }

        img.normal {
          display: block !important;
        }

        img.hover {
          display: none !important;
        }

      }

      .text {
        color: $mrmBaseColor !important;
      }
    }

    &.extraSpace {
      .item_icon.squared_icon {
        margin-right: 12px;
        margin-bottom: 22px;

        &.extra_right {
          margin-right: 35px;
        }

        &.extra_left {
          margin-right: 35px;
        }
      }
    }

    .item_icon.squared_icon.disabled {
      border-color: $color_disabled !important;
      cursor: default;
    }

    //.item_icon.squared_icon:last-of-type{
    //  margin-left: 0;
    //  margin-right: 0;
    //}

    .item_icon.squared_icon:hover {

      border: 2px solid $mrmBaseColor;
      background-color: $mrmBaseColor !important;

      .item_icon_squared {
        img.normal {
          display: none !important;
        }

        img.hover {
          display: block !important;
        }
      }

      .text {
        color: $mrmFontColor !important;
      }
    }


    .item_icon:hover {
      .item_icon_circle {
        background-color: $mrmBaseColor;
      }
    }
  }


  .step2 {
    .tooltip_area {
      position: absolute;
      top: 0;
      right: 10px;
      z-index: 999;

      img {
        width: 20px;
      }

      //.tooltip {
      //  position: relative;
      //}
    }

    .autofill_area {
      position: absolute;
      top: 0;
      right: 40px;
      z-index: 999;

      select{
        border: 1px solid $mrmBackgroundColor;

      }

    }

    .form-link {
      position: relative;
      min-height: 50px;
      text-align: center;
      @include flex();
      @include flex_absolute_center();
    }

    .form-floating-html {
      position: relative;
      @include flex();
      @include flex_align(center);
      @include flex_justify(flex-start);

      .content-html {

      }
    }

    .area_divider {
      width: 98%;
      margin: 10px auto 20px auto;
      background-color: $mrmBaseColor;
      min-height: 5px;
      opacity: 0.6;
    }

    .myDpIconLeftArrow:before {
      content: '<' !important;
    }

    .myDpIconRightArrow:before {
      content: '>' !important;
    }

    .date-input-box {
      padding: 4px 8px;
      border-radius: 4px;
      border: 1px solid #ccc;
      font-size: 16px;
    }

    .form-item{
      .error_extra_information{
        color: red;
        margin-top: 5px;
        margin-bottom: 5px;
        display:none;
      }
    }

    .form-item.error_field_highlight {
      label {
        color: red !important;
      }

      select, input, textarea, checkbox {
        border: 1px solid red;
        //background-color: #ffbcbc;
      }

      .high_text {
        color: red;
      }

      .expandable {
        border-color: red !important;
      }

      //padding-top: 20px;
      //padding-bottom: 20px;
      .error_extra_information{
        display: block;
      }
    }
  }

  .step3 {
    text-align: center;
  }
}
